.humanGuess {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.prevGuesses {
    width: 260px;
}

@media only screen and (max-width: 900px) {
    .prevGuesses {
        width: 100%;
    }
}
